body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainPage {
  flex-grow: 1;
}

.imgLogo {
  max-width: 40vw;
}

.imgCard {
  max-width: 20vw;
}
